# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
!terraform.tfvars.example

# Environment files
**/.env
**/.env.local

# Build artifacts
**/node_modules/
**/dist/
**/build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
*.zip
*/web-form-template
*.json

github-fine-grained-token.txt